#container {
    height: 100vh;
    background-color: #016a92;
    color: #ffffff;
}

#clock-setting {
    width: 50%;
}

#clock {
    width: 260px;
}

#time-left {
    font-size: 4rem;
    line-height: 4rem;
}